{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-sm d-flex align-items-center justify-content-center position-relative">
    <div class="container text-center position-relative">
        <h1 class="text-white">{{ title }}</h1>
        <p  class="text-white mb-0">{{ message }}</p>
    </div>
</div>
<div class="container">
        <div class="py-4 py-md-5">
        <p>Small, independently-owned businesses are what keeps Seattle a foodie's paradise. </p>
        <p>No public gatherings means that it's tougher to visit our favourite neighbourhood haunts. However, a lot of them are still open for takeout and delivery.</p>
        <p>This site hopes to gather information about small, local places that are open during the pandemic. </p>
        <p>I'll be incrementally </p>
    </div>
</div>

{% endblock %}
