{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-sm d-flex align-items-center justify-content-center position-relative">
    <div class="container text-center position-relative">
        <h1 class="text-white">{{ title }}</h1>
        <p  class="text-white mb-0">{{ message }}</p>
    </div>
</div>
<div class="container">
        <div class="py-4 py-md-5">
        <p>Small, independently-owned restaurants are what keeps Seattle a foodie's paradise. </p>
        <p>No public gatherings means that it's tougher to visit our favourite neighbourhood haunts. However, a lot of them are still open for takeout and delivery.</p>
        <p>So I made a little thing. Doordash, Grubhub, and Yelp still work of course, but the sorting algorithms seem to favor national chains. </p>
        <p>Just submit a restaurant with as much info as you know and it'll be up on the list!</p>
        <p>Thanks a lot! Let's show our local spots some love.</p>
        <p>I'll be incrementally adding features like search as time goes on if this sees any usage. Send me suggestions at <a href="mailto:feedmeseattle@gmail.com"> FeedMeSeattle@Gmail.com</p>
    </div>
</div>

{% endblock %}
