<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<div class="container">
    <div class="py-4 py-md-5">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="restaurant-name">Owner Name</label>
                        <input type="text" class="form-control" id="owner-name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="restaurant-name">Restaurant Name</label>
                        <input type="text" class="form-control" id="restaurant-name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cuisine-name">Cuisine</label>
                        <input type="text" class="form-control" id="cuisine-name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phonenumber">Phone Number</label>
                        <input type="text" class="form-control" id="phonenumber">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phonenumber">Delivers</label>
                        <select class="form-control">
                            <option>Delivery</option>
                            <option>TakeOut</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                            <label for="restaurantimg">Restaurant Image</label>
                            <input type="file" class="form-control" id="restaurantimg">
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                            <label for="try this">If you've never been here before, try this:</label>
                            <input type="text" class="form-control" id="trythis">
                    </div>                    
                </div>                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phonenumber">Hours</label>
                        <div class="d-flex align-items-center mb-3">
                            <input type="text" class="form-control timepicker bg-white" placeholder="Start Time"> <label class="px-2 mb-0">To</label> <input type="text" class="form-control timepicker bg-white"  placeholder="End Time">
                        </div>                        
                        <div class="d-flex flex-wrap">
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Monday">
                                <label class="custom-control-label" for="Monday">Monday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Tuesday">
                                <label class="custom-control-label" for="Tuesday">Tuesday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Wednesday">
                                <label class="custom-control-label" for="Wednesday">Wednesday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Thursday">
                                <label class="custom-control-label" for="Thursday">Thursday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Friday">
                                <label class="custom-control-label" for="Friday">Friday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Saturday">
                                <label class="custom-control-label" for="Saturday">Saturday</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input" id="Sunday">
                                <label class="custom-control-label" for="Sunday">Sunday</label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-orange">Submit</button>
            </div>
        </form>
    </div>
</div>
</html>

