{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Feed Me</h1>
    <p class="lead"> Free site that helps you find local restaurants during this crisis </p>
</div>

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="row">
        <h2>Restaurants in your city</h2>
        <p>
           <table style="width:100%">
               <tr>
                   <th>Restaurant Name</th>
                   <th>Phone Number</th>
                   <th>Address </th>
                   <th>Cuisine</th>
				   <th>Delivers</th>
                   <th>If you've never been here, you should try</th>
               {% if restaurant_list %}
               {% for restaurant in restaurant_list %}
                  <tr><td><a href="{% url 'restaurant_detail' restaurant.id %}">{{restaurant.name}} </a></td> 
                  <td>{{restaurant.phoneNumber}}</td> 
                  <td>{{restaurant.address}}</td>
                  <td>{{restaurant.cuisine}}</td>
                  <td>{{restaurant.delivers}}</td>
                  <td>{{restaurant.ifYouveNeverBeenHereTryThisFirst}}</td>
               </tr>
               {%endfor%}
           </table>
            {%else%}
            <p> No restaurants in your area </p>
        {%endif%}
        </p>   
</div>
{%endblock%}

